.footer {
  display: flex;
  height: 100px;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: var(--color-text);
  font-size: 1.4rem;
}

.footer span {
  color: var(--color-primary)
}